.container {
    background: rgba(182, 182, 182, .4);
    height: 100px;
    width: 40%;
    border-radius: 20px;
    display: flex;
    border: 1px solid white;
    border-style: outset;
    flex-direction: row;
    position: fixed;
    left: 50%;
    bottom: 0;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-50%);
    margin: 10px auto;
}

.tooltip {
    position: absolute;
    bottom: 105px;
    font-weight: bold;
    font-size: 16px;
}

.icon {
    cursor: pointer;
}