.resume {
	margin-left: auto;
    margin-right: auto;
	overflow-y: scroll;
	overflow-x: scroll;
}

.resume-wrapper {
    width: 100% !important;
	height: 100% !important;
	margin: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}