.terminal-body {
    width: 100%;
    height: 200px;
    border: none;
    background-color: black;
    color: white;
}

.command-prompt {
    width: 220px;
}

.command-body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    border: none;
    height: 24px;
}

.command-input {
    color: white;
    background-color: black;
    border: none;
    text-align: left;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
}

.command-input:focus {
    outline: none;
}